{% extends 'base.html' %}

{% block title %}
    About Me
{% endblock title %}

{% block body %}
<div class="p-4 p-md-3 mb-4 text-bg-dark" >
    <div class="col-md-6 px-0 ">
      <h1 class="display-4 fst-italic">Suvigya Pandey</h1>
      <p class="lead my-4">I am a 4th year computer science student studying in Thapar Institute of Engineering and Technology.</p>
      
    </div>

</div>

<!--from below-->


  <div class="row g-5 mx-1">
    <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Education
    </h3>
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">Thapar Institute of Engineering and Technology</h2>
        <p class="blog-post-meta">B.E CSE - August, 2020 - June, 2023 </p>
        <hr>
        <h2 class="blog-post-title mb-1">G.D.Goenka University </h2>
        <p class="blog-post-meta">Diploma CSE - August, 2017 - June, 2020 </p>
        <hr>
    
      <h3 class="pb-4 my-5 mb-4 fst-italic border-bottom">
        Projects
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">Virtual try-on using deep learning</h2>
        <p class="blog-post-meta">January, 2022 - December, 2022 </p>

        <li>  The motivation behind this project is to eliminate the culture of the unnecessary return policy.</li>
        <li>  Working in a team of 4 members and getting to learn about different deep learning tools, libraries, and models.</li>
        <li>  Using Python, Try-on-Module, Geometric Matching Module</li>    
        <li>  Have been doing research work and read around 60 research papers.</li>
        <hr></article>
        <article class="blog-post">
            <h2 class="blog-post-title mb-1">Rock or Mine prediction using Machine Learning</h2>
            <p class="blog-post-meta">November, 2022 </p>
    
            <li>  Used Sonar dataset obtained from Kaggle.</li>
            <li>  Worked with NumPy and Pandas.</li>
            <li>  Used Logistic regression model.</li>    
            <li>  Trained the model with Sonar dataset and evaluated the training accuracy to be 83% and testing accuracy came out to be 76%.</li>
            <hr></article>
        <article class="blog-post">
            <h2 class="blog-post-title mb-1">Oblivion-Spotify clone</h2>
            <p class="blog-post-meta">November, 2022 </p>
        
            <li> Worked on this project to implement the concepts of HTML, CSS, and JavaScript.</li>
             
            <hr></article>
        <article class="blog-post">
            <h2 class="blog-post-title mb-1">Twitter API Project</h2>
            <p class="blog-post-meta">December, 2022 </p>

            <li> Used Twitter API to send tweets.</li>
            <li> Used Tweepy Library.</li>

            <hr></article>
        <article class="blog-post">
            <h2 class="blog-post-title mb-1">Spam Bot</h2>
            <p class="blog-post-meta">June, 2022 </p>
            <li> Created a Spam Bot to send any number of texts on any social media.</li>
            <li> Created the project in Python, used pyautogui Library.</li>
    
        <hr></article>
        <p></p>
        


    </div>
  

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 my-0 mb-2 bg-dark rounded">
          <h4 class="fst-italic"style="color: aliceblue;">About</h4>
          <p class="mb-0" style="color: aliceblue;">I am a 4th-year computer science student keen to learn about new technologies. I am optimistic and confident in nature. I like to work on innovative and new projects. Learned teamwork while working on projects in college so I can work, communicate and get along easily with my teammates. I love solving real-world problems, I am flexible while working and I try to make the best out of situations that I am put in.</p>
        </div>
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-3 mb-3 bg-dark rounded">
              <h4 class="fst-italic"style="color: aliceblue;">Area of Interest</h4>
              <li class="mb-0"style="color: aliceblue;">Reading blogs about latest advancements in the field of technology.</li>
              <li class="mb-0"style="color: aliceblue;">Reading books (Mostly biographies and auto-biographies).</li>
              <li class="mb-0"style="color: aliceblue;">Solve questions on Leetcode and various other coding platforms.</li>
              <li class="mb-0"style="color: aliceblue;">Watching sports (Formula-1, Football, Cricket, Tennis).</li>
              
            </div>
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-3 mb-3 bg-dark rounded">
                  <h4 class="fst-italic"style="color: aliceblue;">Expertise</h4>
                  <P class="mb-0" style="color: aliceblue;">C++</P>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10">8</div>

                  </div>
                  <P class="mb-0" style="color: aliceblue;">HTML</P>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="10">9</div>

                  </div>
                  <P class="mb-0" style="color: aliceblue;">CSS</P>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="7" aria-valuemin="0" aria-valuemax="10">7</div>

                  </div>
                  <P class="mb-0" style="color: aliceblue;">Javascript</P>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="6" aria-valuemin="0" aria-valuemax="10">6</div>

                  </div>
                  <P class="mb-0" style="color: aliceblue;">Python</P>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="10">9</div>

                  </div>
                  
                </div>

        

      </div>
    </div>
  </div>
</div>
{% endblock body %}